@model ClientWebServices.Models.ViewModelEmployee

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Employee</title>
    <style>
        .form-group {
            margin-bottom: 10px;
        }

            .form-group label {
                display: inline-block;
                width: 120px; 
            }

            .form-group input[type="text"] {
                width: 200px; 
                float: left; 
                margin-right: 10px; 
                border: 1px solid #ccc; 
            }

            .form-group input.error {
                border-color: red; 
            }

        .validation-message {
            color: red;
            margin-left: 5px;
        }

        .submit-button {
            margin-top: 20px;
            text-align: left; 
        }

            .submit-button input[type="submit"] {
                width: auto;
            }
    </style>
</head>
<body>
    <div>
        <h2>Add Employee</h2>
        @using (Html.BeginForm("AddEmployee", "Employee", FormMethod.Post, new { id = "employeeForm" }))
        {
            <div class="form-group">
                @Html.TextBoxFor(model => model.EmployeeID, new { @class = "employeeID" })
                @Html.LabelFor(model => model.EmployeeID)
                <span class="validation-message">@Html.ValidationMessageFor(model => model.EmployeeID)</span>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.EmployeeName, new { @class = "employeeName" })
                @Html.LabelFor(model => model.EmployeeName)
                <span class="validation-message">@Html.ValidationMessageFor(model => model.EmployeeName)</span>
            </div>
            <div class="form-group">
                @Html.TextBoxFor(model => model.EmployeeSalary, new { @class = "employeeSalary" })
                @Html.LabelFor(model => model.EmployeeSalary)
                <span class="validation-message">@Html.ValidationMessageFor(model => model.EmployeeSalary)</span>
            </div>
            <div class="submit-button">
                <input type="button" id="submitButton" value="Submit" />
            </div>
        }
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> <!-- jQuery library -->
    <script>
        $(document).ready(function () {
            $('#submitButton').click(function () {
                $('#employeeForm').submit();
            });
        });
    </script>
</body>
</html>
